/* CSS File for Feniks */

/* These are helper styles to test out stuff */

.fancybox {
  border: 2px solid black;
  border-radius: 15px;
  background-color: #cedb95;
  padding: 15px;
}

.pink {
  background: pink;
  /* color:pink; */
}

/* Real CSS starts here */
/* Tag Styles */

body{
  /* background-image: url("../assets/feniks-bg.png"); */
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label{
  margin-right:15px;
}

h4 {
  background: RGBA(150,150,150,0.9);
  box-shadow: -5px 5px RGBA(0,0,0,0.5);
  padding: 10px;
}

table {
  text-align: center;
}

/* Class Styles  */

.btn {
  border: 1px solid black;
}

.content-area{
}

.content-block{
  background: RGBA(230,230,230,0.9);
  border-radius: 15px;
  padding: 10px;
  margin: 0 0 15px 0;
  box-shadow: -5px 5px RGBA(0,0,0,0.5);
}


/* edit client button styling  - submit and undo are in button-block1, delete is in button-block2. Can't be in same divs as delete button cannot be within the form that submit and undo have to be in*/

.edit-button-block1{
  background: RGBA(230,230,230,0.9);
  border-radius: 15px 15px 0 0;
  padding: 10px 10px 10px 10px;
  margin: 0 0 0px 0;
  box-shadow: -5px 5px RGBA(0,0,0,0.5);
}

.edit-button-block2{
  background: RGBA(230,230,230,0.9);
  border-radius: 0 0 15px 15px;
  padding: 0px 10px 10px 10px;
  margin: 0 0 0px 0;
  box-shadow: -5px 5px RGBA(0,0,0,0.5);
}

.gdpr{
  padding:20px 50px;
  font-size: 14px;
}

.splash-image img {
  border-radius: 15px;
  box-shadow: -15px 15px RGBA(0,0,0,0.5);
}

.column-head {
  background: RGBA(230,230,230,0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px;
  margin: 0;
  border:1px solid black;
  text-align:center;
  font-weight:bold;
}

.column-body{
  background: RGBA(230,230,230,0.9);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px;
  margin: 0;
  border:1px solid black;
}

.btn-shadow{
  box-shadow: -5px 5px RGBA(0,0,0,0.5);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}